.side-bar-list > li:nth-child(2) > span:nth-child(2),
.side-bar-list > li:nth-child(3) > span:nth-child(2),
.side-bar-list > li:nth-child(4) > span:nth-child(2) {
    opacity: 0;
}

#resultCountNode {
    position: fixed;
    left: 0em;
    bottom: 0em;
    background-color: #f5f5f5;
    padding: 0.3em;
}
